.todo-button {
    background-color: #9b9b9c;
    width: 8rem;
    height: 2.5rem;
    border: none;
    border-radius: 2rem;
    color: #fff;
    font-weight: 500;
    transition: all 0.5s;
    margin-left: auto;
    margin-right: auto;
    
}

.todo-button:hover {
    width: 10rem;
}

