.CreateTodoButton {
    text-align: center;
    align-items: center;
    height: 40px;
    min-width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    background-color: mediumpurple;



    
}

.Button {
    bottom: center;
    text-align: center;
    padding-bottom: 5px;
    align-items: unset;
    flex-direction: column;
    justify-content: center;
    margin: auto;


    
}